<?xml version="1.0" ?>
<model>
    <name>fragile_box</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Mohammed Naveedh</name>
        <email>naveedhmohammed1@gmail.com</email>
    </author>
    <description>Cardboard box labeled as FRAGILE with ArUco marker ID 0 (DICT_4X4_50) on the sides</description>
</model>
